<div class="login-page">
  <div class="form">
    <!-- <form class="register-form" name="form" action="/loginpage" method="POST">
      <input name="name" type="text" placeholder="name"/>
      <input name="password" type="password" placeholder="password"/>
      <input type="text" placeholder="email address"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#">Sign In</a></p>
    </form> -->
    <form class="login-form" name="form" action="/loginpage" method="POST">
      <input name="username" type="text" placeholder="username"/>
      <input name="password" type="password" placeholder="password"/>
      <button type="submit">login</button>
    </form>
  </div>
</div>
